
/* COLOURS:

#FFC038
#F0D960
#5A9959
#24846C
#0E2C32
*/

$color-orange: #FFC038;
$color-yellow: #F0D960;
$color-light-green: #5A9959;
$color-green: #24846C;
$color-dark-green: #0E2C32;
$color-black: #000;

$color-grey-light-1: #f7f7f7;



//FONT SIZES

$default-font-size: 1.6rem;