.section-about {
    background-color: $color-grey-light-1;
    padding: 32rem 0 33% 5%;
    margin-top: -32.5vh;

    


    &-flex-container {
        // background-color: #ccc;
        // justify-content: space-around;
        display: flex;
        // padding: 10px;


    }

    &-col {

        flex: 1;
        height:100%;
        // padding: 30px;
        // margin: 30px;




    }





}

.section-features {
    min-height: 70vh ;
    background-image: linear-gradient(to bottom, rgba($color-dark-green, 1), rgba($color-black, .6)), url(../../../src/img/london_skyline.jpg);
    background-size: cover;
    background-position: top;


    transform: skewY(-7deg);
    margin-top: -15rem;

    /* clip path can take a slice out of something at the following coordinates: */
    /* polygon takes 6 values, representing three coordinates (x y, x y, x y) */
    // clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}


.section-prices {
    // min-height: 80vh ;
    margin-top: 8rem;
    
}