.features-flex-container {

    width: 100%;
    height: 100%;
    display: flex;
    align-items:flex-end;
    justify-content: space-evenly;
    // border:10px solid black;
    transform: skewY(7deg);
    


    flex-wrap: wrap;
    // align-content: stretch;


    .features{
        display: inline-block;
        padding:2%;
        max-width: 30rem;
        // min-width: 20px;







        // flex: 1;


        // display: inline;

        &-card{
            background-color: rgba($color: white, $alpha: .8);
            font-size: 1.5rem;
            margin:55% 0%;
            padding: 10%;
            text-align: center;
            transition: all .2s;
   

            box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: .4);
            border-radius: 3px;


            &:hover{
                transform: translateY(-.4rem) scale(1.1);
  
            }

            i{
                font-size: 6rem;
                background-image: linear-gradient(to right, $color-light-green, $color-green);
                -webkit-background-clip: text;
                color: transparent;
            }

        }

        // &-text{}


    }
}
